html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 57px;
}

.header-logo {
  height: 50px;
}

.header-text {
  display: none;
}

.main-container main{
  width: 90%;
}
@media (min-width: 302px) {
  .header-text {
    display: inline;
    margin-left: 10px;
    font-size: 19px;
  }
}
.text-left-adjust {
  margin-left: -100px; /* Move the text 100px to the left */
  /* padding-left: 100px; */
}
@media (max-width: 575px) {
  .text-left-adjust{
    margin-left: 0;
    /* padding-left: 0; */
  }
}
/* Hide the text-left-adjust element between 575px and 855px */
@media (min-width: 575px) and (max-width: 855px) {
  .text-left-adjust {
      visibility: hidden; /* Hide the element */
  }
}

